.message {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    margin-bottom: 10px;

    .messageInfo {
        color: #cecfed;
        padding: 20px 20px 20px 20px;
    }

    .messageTimestamp {
        color: #9397b8;
        margin-left: 20px;
        font-size: 16px;
    }
}